* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    text-align: center;
    border: 4px solid black;
}

#controles {
    background-color: lightgray;
    text-align: center;
}

#controles button {
    width: 64px;
    height: 64px;
    margin: 4px;
}

#options {
    background-color: grey;
}

#video {
    position: relative;
    background-color: lightgray;
    width: 640px;
    height: 480px;
}

#video canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
}